.box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box2{
    width: 50px;
    height: 50px;
    background-color: blue;
}
.waiting{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
    background: rgb(43, 137, 226);
    
}
.go{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
    background: #00973f;
}
.board{
    height: 50vh;
    width: 100%;
}
.textinbox{
    padding-top: 15px;
}